.right-middle-grid {
  display: grid;
  grid-template-rows: 20px 1fr;
  gap: 12px;
}

.right-middle-menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 12px;
}

.dish-btn{
    display: flex;
    justify-content: space-evenly;
    
    text-align: center;
}
